<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PhotoStudio" connectionString="Server=tcp:univesity-labs.database.windows.net,1433;Initial Catalog=photoStudio;Persist Security Info=False;User ID=andriy;Password=1kocH14yNaPt;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>