<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PhotoStudio"  connectionString="data source=DESKTOP-TJTB3QL; initial catalog=university;persist security info=True; Integrated Security=SSPI;MultipleActiveResultSets=true" 
   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>